<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Notifications</title>
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/user/my-account.css" rel="stylesheet" />
  <link href="/css/master.css" rel="stylesheet" />
  <link href="/css/user/home.css" rel="stylesheet" />
</head>

<body class="bg-light">
  <%- include('../components/navbar') %>
    <div class="container pt-4">
      <div class="row">
        <%- include('../components/sidebar') %>

          <div class="col-12 col-md-9">
            <div class="card mb-3 bg-white border rounded cardBg">
              <div class="card p-2 mb-0" style="background-color: #1e686dfa">
                <strong>Notifications</strong>
              </div>

              <div class="card pt-2 pb-2 pe-4 ps-4" id="orderCard" style="background-color: #faffff">
                <% if(notifyData.length!=0) { notifyData.forEach(function(data){ %>
                  <div class="row">
                    <div class="card col-12 col-md-12" style="cursor: pointer" onclick="location.href='<%= data.link %>'">
                      <div class="row">
                        <div class="col-12 col-md-10">
                          <div class="row">

                            <div class="col-6 col-md-2 mt-2 mb-2">
                              <a href="/seller/<%= data.sellerID.slugID %>"><img src="<%= data.sellerID.busLogo %>"
                                  class="w-100" /></a>
                            </div>

                            <div class="col-12 col-md-10">
                              <div class="row">
                                <div class="col-12 col-md-12">
                                  <label class="form-label mt-2 mb-0" style="text-align: justify">
                                    <h6 class="mb-1">
                                      <b>
                                        <%= data.title %>
                                      </b>
                                    </h6>
                                    <h6 class="card-subtitle text-muted">
                                      Notification by <%= data.sellerID.busName %>
                                    </h6>
                                  </label>
                                </div>


                                <div class="col-12 col-md-12">

                                  <label class="form-label">
                                    <%= data.message %>
                                  </label>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <div class="col-12" style="background-color: #ffffff">
                        <div class="text-center mt-3">
                          <img
                            src="https://firebasestorage.googleapis.com/v0/b/digmart-7f2d3.appspot.com/o/images%2Fnotification.gif?alt=media&token=991327d1-9a5f-46a9-a189-f81ed58b6fde"
                            width="200px" />
                          <h4 class="mt-3 mb-2" style="color: var(--bg-dark)">
                            No notification
                          </h4>
                          <h6 style="font-size: 14px">
                            Looks like, there is nothing to notify!
                          </h6>
                          <a href="/#deals" class="btn btn-main mt-2 mb-2">Shop Now</a>
                        </div>
                      </div>
                      <% } %>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Login Modal -->
    <%- include('../components/login') %>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/js/form-validator.js"></script>
      <script src="/js/user/login.js"></script>
      <script src="/js/user/cartprod.js"></script>
      <script src="/js/user/swiper-bundle.min.js"></script>
</body>

</html>